* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #1ABC9C;
    height: 70px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

a:not(:last-child) {
    margin-right: 20px;
}

.social-icon:not(:last-child) {
    margin-right: 20px;
}

/* О Нас */
.about {
    display: flex;
    align-items: center;
}

.about-img {
    width: 50%;
}
.about-info {
    padding: 0 65px;
}
h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px;
}

.about-descr {
    font-size: 20px;
    text-align: justify;
}

/* Наши проекты */

.projects {
    background-color: #DCFFEB;
    padding: 125px 0;
}

h2 {
    font-size: 35px;
    margin-bottom: 50px;
}

.projects-list {
    display: flex;
    gap: 35px;
}

.projects-item {
    width: calc(100% / 3 - 17px);
}

/* Футер */

h3 {
    font-size: 35px;
    margin-top: 84px;
}

.footer-info {
    width: 90%;
    height: 100%;
    margin: 75px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-descr {
    font-size: 24px;
    text-align: center;
}

.footer-title {
    font-size: 24px;
    color: #999999;
    text-align: center;
}

.footer-item{
   
}

.footer-item:not(:last-child) {
    margin-right: 20px;
}

.footer-img {
    display: flex;
    justify-content: space-around;

    background-color: #1ABC9C;
}